body {
	margin-right: 15%;
	margin-left: 15%;
}
ul {
	padding: 5px 0 5px 25px;
}
.top {
	background-color: purple;
	color: white;
	font-size: 3em;
	text-align: center;
	border-radius: 15px 15px 0 0;
	border-bottom: 2px solid black;
}
.list {
	background-color: #cfcbf0;
	margin-top: -30px;
}
