body {
	margin-right: 15%;
	margin-left: 15%;
}
ul {
	padding-left: 20%;
}
.top {
	background-color: purple;
	color: white;
	font-size: 3em;
	text-align: center;
	border-radius: 15px 15px 0 0;
	border-bottom: 2px solid black;
}
.list {
	background-color: #cfcbf0;
}
.pic {
	width: 100px;
}